<launch>

	<!-- TELLO DRIVER -->
	<!-- <include file="$(find tello_driver)/launch/tello_node.launch"/> -->

	<!-- COMMON_TELLO_APPLICATION {CAMERA RESIZE} -->
	<node	pkg="common_tello_application" 
		name="camera_converter" 
		type="camera_converter.py"> 
		<!-- output="screen"> -->
	</node>

	<!-- COMMON_TELLO_APPLICATION {CAMERA APRILTAG_DETECTION} -->
	<node	pkg="common_tello_application" 
		name="camera_apriltag_detection" 
		type="camera_apriltag_detection.py"> 
		<!-- output="screen"> -->
	</node>

</launch>
